<style>

</style>


<div style="width:100%;height:550px;">


    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-default" style="height:300px; ">

                <batscorecard></batscorecard>

                <br>

                <bowlscorecard></bowlscorecard>

            </div>


        </div>
        <div class="col-md-6">
            <div style="height:300px; ">

                <div class="panel panel-default" style="height:130px;margin-top:10px;">

                    <div class="col-md-4" style="padding: 10px;">Select your Batting Style</div>
                    <div class="col-md-8">
                        <select class="form-control" name="" id="">
                            <option value="Aggressive">Aggressive</option>
                            <option value="Moderate">Moderate</option>
                            <option value="Defensive">Defensive</option>

                        </select>

                    </div>



                </div>
                <div class="panel panel-default" style="height:130px;margin-top:10px;">
                    <div class="col-md-4" style="padding: 10px;">Select your Fielding Style</div>
                    <div class="col-md-8">
                        <select class="form-control" name="" id="">
                            <option value="Aggressive">Aggressive</option>
                            <option value="Moderate">Moderate</option>
                            <option value="Defensive">Defensive</option>

                        </select>

                    </div>

                    <div class="col-md-12" style="margin-top:10px;">
                        <div class="col-md-6">
                            <div class="col-md-4" style="padding: 10px;">Line</div>
                            <div class="col-md-8">
                                <select class="form-control" name="" id="">
                                    <option value="Aggressive">OffStump</option>
                                    <option value="Moderate">Middle</option>
                                    <option value="Defensive">LegStump</option>

                                </select>

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="col-md-4" style="padding: 10px;">Length</div>
                            <div class="col-md-8">
                                <select class="form-control" name="" id="">
                                    <option value="Aggressive">Full</option>
                                    <option value="Moderate">Good Length</option>
                                    <option value="Defensive">Short</option>

                                </select>

                            </div>

                        </div>

                    </div>



                </div>



            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-4">

            <div class="panel panel-default" style="height:240px; ">

                <div class="col-md-12" style="margin-top:20px;">
                    Select your Batsman
                    <br>
                    <select ng-model="selectBat" class="form-control" name="" id="">
                        <option value="{{bat.name}}" ng-repeat="bat in batList">{{bat.name}}</option>

                    </select>

                </div>



                <div class="col-md-12" style="margin-top:20px;">
                    Select your Bowler
                    <br>
                    <select ng-model="selectBowl" class="form-control" name="" id="">
                        <option value="{{bowl.name}}" ng-repeat="bowl in bowlList">{{bowl.name}}</option>

                    </select>



                </div>


            </div>


        </div>
        <div class="col-md-8">
            <div style="height:240px; " class="panel panel-default">

                <div class="col-md-12">
                    Commentary:
                    <br>

                    <div style="height:150px;background:grey;color:white;overflow-y: auto;" ng-model="comment"><pre style="background: grey;
    color: white;border:0px solid grey;">{{comment}}</pre></div>


                </div>
                <button class="btn btn-info col-md-4 col-md-offset-6" style="margin-top:30px;" ng-click="onSimulate()">Simulate</button>


            </div>

        </div>

    </div>



</div>